.home-container {
  min-height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
   url("https://images.pexels.com/photos/5452190/pexels-photo-5452190.jpeg")



      center / cover no-repeat;
}

.home-content {
  text-align: center;
  color: #ffffff;
  max-width: 700px;
  padding: 20px;
}

.home-content h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.home-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.primary-btn {
  padding: 12px 24px;
  background: #2563eb;
  color: #ffffff;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.primary-btn:hover {
  background: #1e40af;
}

.secondary-btn {
  padding: 12px 24px;
  background: #ffffff;
  color: #2563eb;
  border-radius: 8px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
}

.secondary-btn:hover {
  background: #e5e7eb;
}
